body
{
	font-family: Dancing Script;
}
#contenedor
{
	width: 100%;
	height: 900px;
	background-color: #02010a;
	display: flex;
	flex-flow: row wrap;
}
header
{
	width: 100%;
	height: 60px;
	top: 0;
	background-color: #5b7989;
	border: solid 1px black;
	border-radius: 10px 10px 0px 0px;
}
navbar, h3
{
	margin-top: 0;
	text-align: center;
	padding-left: 1%;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
}
navbar, a, href
{
	margin-top: : 0px;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
}
h2
{
	margin-top: 2px;
	text-align: center;
	font-size: 12px;
}
@media print
{
	img{ width: 50%;}
}
@media(max-width:375px)
{
	.c1{ background-color: #82c3a6; width: 100%;height: 300px;}
	.c2{ background-color: #d5c75f; width: 100%;height: 300px;}
	.c3{ background-color: #d5c75f; width: 100%;height: 300px;}
	h3{font-size: 8px;}
	p{color: white;}
	section
	{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	section .contacto
	{
		width: 100%;
	}
	section .terminos
	{
		width: 100%;
	}
	section .redes
	{
		width: 100%;
	}
	section .derechos
	{
		width: 100%;
	}
}
@media(min-width:376px) and (max-width:720px)
{
	.c1{ background-color: #82c3a6; width: 100%;height: 290px;}
	.c2{ background-color: #d5c75f; width: 100%;height: 305px;}
	.c3{ background-color: #d5c75f; width: 100%;height: 305px;}
	h3{font-size: 14px;}
	p{color: blue;}
	section
	{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	section .contacto
	{
		width: 100%;
	}
	section .terminos
	{
		width: 100%;
	}
	section .redes
	{
		width: 100%;
	}
	section .derechos
	{
		width: 100%;
	}
}
@media(min-width:721px)
{
	.c1{ background-color: #82c3a6; width: 100%;height: 450px;}
	.c2{ background-color: #d5c75f; width: 50%;height: 450px;}
	.c3{ background-color: #d5c75f; width: 50%;height: 450px;}
	h3{ font-size: 35px;}
	p{color: black;}
}
.c1 img
{
	padding-left: 8%;
	padding-top: 1%;
	width: 90%;
	height: 85%;
	webkit-filter: drop-shadow;
	filter: drop-shadow(2px 2px 2px blue);
}
.c2 img
{
	width: 90%;
	height: 85%;
	padding-left: 8%;
	padding-top: 3%;
	webkit-filter: drop-shadow;
	filter: drop-shadow(2px 2px 2px blue);
}
.c3 img
{
	webkit-filter: drop-shadow;
	filter: drop-shadow(2px 2px 2px blue);
	width: 90%;
	height: 85%;
	padding-left: 7%;
	padding-top: 3%
}
.c2 img:hover
{
	border: 2px solid black;
	transform: rotate(10deg);
}
.c3 img:hover
{
	border: 2px solid black;
	transform: translate(20px,-5px);
}
footer
{
  width: 100%;
	height: 120px;
	border-radius: 0 0 10px 10px;
	background-color: grey;
}
section div img
{
	margin-left: 3%;
	border-radius: 10px;
	width: 14%
}
p
{
	font-size: 10px;
	font-weight: bold;
}
section
{
	width: 100%;
	display: flex;
	flex-direction: row;
}
section .contacto
{
	width: 25%;
}
section .terminos
{
	width: 25%;
}
section .redes
{
	width: 25%;
}
section .derechos
{
	width: 25%;
}
